.empty-field {
    border: 1px solid red;
}
nav .router-link-exact-active {
    background-color: rgb(55 65 81);
}
.user-nav-area .router-link-exact-active {
    background-color: rgb(243 244 246);
}
html, body, #app {
    height: 100%;
    margin: 0;
  }
  #app {
    display: flex;
    flex-direction: column;
  }
  main {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  